In [1]:
from colomoto import minibn
from colomoto_jupyter import tabulate

In [2]:
import cabean

In [3]:
bn = minibn.BooleanNetwork({
    "x1": "x2 & !(x3&!x4&!x5)",
    "x2": "x1",
    "x3": "x2 | !x4",
    "x4": "x5",
    "x5": "!x3"
})
bn

x1 <- x2&(!(x3&!x4&!x5))
x2 <- x1
x3 <- x2|!x4
x4 <- x5
x5 <- !x3

In [4]:
a = cabean.attractors(bn)
tabulate(a)

<table>
<thead>
<tr><th style="text-align: right;">  </th><th style="text-align: right;">  x1</th><th style="text-align: right;">  x2</th><th style="text-align: right;">  x3</th><th style="text-align: right;">  x4</th><th style="text-align: right;">  x5</th></tr>
</thead>
<tbody>
<tr><td style="text-align: right;"> 0</td><td style="text-align: right;">   0</td><td style="text-align: right;">   0</td><td style="text-align: right;">   1</td><td style="text-align: right;">   0</td><td style="text-align: right;">   0</td></tr>
<tr><td style="text-align: right;"> 1</td><td style="text-align: right;">   0</td><td style="text-align: right;">   0</td><td style="text-align: right;">   0</td><td style="text-align: right;">   1</td><td style="text-align: right;">   1</td></tr>
</tbody>
</table>

In [5]:
roi = cabean.OneStepReprogramming(bn)

In [7]:
roi.attractor_to_attractor({"x4": 1}, {"x3": 1}).as_table()

In [8]:
roi.attractor_to_attractor({"x4": 1}, {"x3": 1}, exclude={"x1"}).as_table()