In [1]:
from colomoto import minibn
from colomoto_jupyter import tabulate

In [2]:
import cabean

In [3]:
bn = minibn.BooleanNetwork({
    "x1": "x2 & !(x3&!x4&!x5)",
    "x2": "x1",
    "x3": "x2 | !x4",
    "x4": "x5",
    "x5": "!x3"
})
bn

x1 <- x2&(!(x3&!x4&!x5))
x2 <- x1
x3 <- x2|!x4
x4 <- x5
x5 <- !x3

In [4]:
a = cabean.attractors(bn)
tabulate(a)

   x1  x2  x3  x4  x5
0   0   0   0   1   1
1   0   0   1   0   0

In [5]:
roi = cabean.OneStep_Instantaneous(bn)

In [6]:
roi.attractor_to_attractor({"x4": 1}, {"x3": 1}).as_table()

In [7]:
roi.attractor_to_attractor({"x4": 1}, {"x3": 1}, exclude={"x1"}).as_table()